{% extends 'admin.html.twig' %}

{% block title %}exercice index
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">
	<style>
		/* Custom CSS for exercice index */

		/* Page title */
		.page-title {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 20px;
		}

		/* Table style */
		.table {
			width: 100%;
			border-collapse: collapse;
		}

		.table th,
		.table td {
			padding: 10px;
			border: 1px solid #ddd;
		}

		/* Table header style */
		.table th {
			background-color: #f2f2f2;
			font-weight: bold;
		}

		/* Table body style */
		.table tbody td {
			background-color: #fff;
		}

		/* Nested table style */
		.nested-table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 10px;
		}

		/* Nested table header style */
		.nested-table th {
			background-color: #f2f2f2;
			font-weight: bold;
			text-align: left;
		}

		/* Nested table body style */
		.nested-table td {
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}

	</style>
	<div class="container">
		<div class="page-title">exercices Index</div>
		{% for exercice in exercices %}
			<table class="table">
				<tbody>

					<tr>
						<th>Name</th>
						<td>{{ exercice.nomexercice }}</td>
					</tr>
					<tr>
						<th>Image</th>
						<td><img src="{{ asset('uploads/' ~ exercice.Demonstration) }}"  width="600"></td>
					</tr>
					<tr>
						<th>Muscle </th>
						<td>{{ exercice.Muscle }}</td>
					</tr>
					<tr>
						<th>Difficuly </th>
						<td>{{ exercice.Difficulteexercice }}</td>
					</tr>
					<tr>
						<th>Difficuly </th>
						<td>{{ exercice.Difficulteexercice }}</td>
					</tr>
					<tr>
						<th>Evaluation </th>
						<td><div class="product-rating mb-3">
							{% for i in 1..exercice.EvaluationExercice %}
								<i class="fa fa-star" style="color: gold;"></i>
							{% endfor %}
							{% for i in exercice.EvaluationExercice + 1..5 %}
								<i class="fa fa-star-o" style="color: gold;"></i>
							{% endfor %}
						</div></td>
					</tr>
					<tr>
					<th>Edit/Delete</th>
					<td class="d-flex justify-content-center align-items-center">
						<div><a class="btn flosun-button primary-btn rounded-0 mr-2" href="{{ path('app_exercice_editb', {'id': exercice.id}) }}" style="width: 120px;">Update</a></div>
						<div style="margin-left:50px"><a class="btn flosun-button primary-btn rounded-0 ml-2" href="{{ path('app_exercice_deleteb', {'id': exercice.id}) }}" style="width: 120px;">Delete</a></div>
					</td>
				</tr>
					
					
		</table>

	{% endfor %}


{% endblock %}
