{% extends 'base.html.twig' %}

{% block body %}
  <h1>Exercice</h1>

  <div class="grid text-center d-flex flex-row gap-1">
    <div class="g-col-6">
      <video autoplay muted loop width="500" height="400" src="{{ asset('uploads/' ~ exercice.Video ) }}"></video>
    </div>

    <div class="g-col-4">
      <p>
        <strong>NomExercice:</strong>
        {{ exercice.nomExercice }}</p>
      <p>
        <strong>DifficulteExercice:</strong>
        {{ exercice.DifficulteExercice }}</p>
      <p>
        <strong>EvaluationExercice:</strong>
        {{ exercice.EvaluationExercice }}</p>
      <p>
        <strong>Muscle:</strong>
        {{ exercice.Muscle }}</p>
    </div>
  </div>
{% endblock %}

