{% extends 'admin.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

    <h1>Category index</h1>

    <table class="table" style="margin-top: 100px">
        <thead>
            <tr>
                <th>Idcategory</th>
                <th>Namecat</th>
                <th>actions</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.idcategory }}</td>
                <td>{{ category.namecat }}</td>
                <td>
                    <a  class="btn flosun-button primary-btn rounded-0 mr-2" style="text-decoration: none; color: #FFA2B9; font-weight: bold;" href="{{ path('app_category_show', {'idcategory': category.idcategory}) }}">show</a>
                    <a  class="btn flosun-button primary-btn rounded-0 mr-2" style="text-decoration: none; color: #FFA2B9; font-weight: bold;" href="{{ path('app_category_edit', {'idcategory': category.idcategory}) }}">edit</a>
                </td>
                <td  class="btn flosun-button primary-btn rounded-0 mr-2" style="text-decoration-color: #ff8f56">    {{ include('category/_delete_form.html.twig') }}   </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a style="margin-left: 50px; margin-bottom: 35px; text-decoration: none; color: #7c32db; font-weight: bold;" href="{{ path('app_category_new') }}">Create new</a>
{% endblock %}
