{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Shop</h1>

    <div class="container">

        <div class="row">
            {% for product in products %}
                <div class="cardd">
                    <div class="card__header">
                        <img src="{{ asset('uploads/' ~ product.image) }}" class="card__image" width="600">
                    </div>
                    <table>
                        <tr>
                            <th><h4>{{ product.nameproduct }}</h4></th>
                            <th style="text-align: right;"><h5>{{ product.priceproduct }} TND</h5></th>
                        </tr>
                        <tr><th colspan="2" style="text-align: center;">{{ product.productdescription }}</th></tr>
                        <tr>items left : {{ product.stock }}</tr>
                    </table>
                    <div class="card__footer">
                        <a href="{{ path('add_to_cart',{idproduct : product.idproduct}) }}" class="genric-btn success-border circle">Add to cart</a>
                        <a href="{{ path('fetch_product', {'idproduct': product.idproduct}) }}" class="genric-btn danger-border circle">Show</a>
                    </div>
                </div>
            {% endfor %}

        </div>


        <a href="{{ path('app_product_new') }}">Create new</a>
    </div>



{% endblock %}
