{% extends 'admin.html.twig' %}

{% block title %}programme index
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">
	<style>
		/* Custom CSS for programme index */

		/* Page title */
		.page-title {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 20px;
		}

		/* Table style */
		.table {
			width: 100%;
			border-collapse: collapse;
		}

		.table th,
		.table td {
			padding: 10px;
			border: 1px solid #ddd;
		}

		/* Table header style */
		.table th {
			background-color: #f2f2f2;
			font-weight: bold;
		}

		/* Table body style */
		.table tbody td {
			background-color: #fff;
		}

		/* Nested table style */
		.nested-table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 10px;
		}

		/* Nested table header style */
		.nested-table th {
			background-color: #f2f2f2;
			font-weight: bold;
			text-align: left;
		}

		/* Nested table body style */
		.nested-table td {
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}

	</style>
	<div class="container">
		<div class="page-title">Programmes Index</div>
		{% for programme in programmes %}
			<table class="table">
				<tbody>

					<tr>
						<th>Nom</th>
						<td>{{ programme.Nomprogramme }}</td>
					</tr>
					<tr>
						<th>Localisation</th>
						<td>{{ programme.Dureeprogramme }}</td>
					</tr>
					<tr>
						<th>Evaluation programme</th>
						<td>{{ programme.Evaluationprogramme }}</td>
					</tr>
					<tr>
						<th>Difficulte programme</th>
						<td>{{ programme.Difficulteprogramme }}</td>
					</tr>
					<tr>
						<th>Liste d'Exercice</th>
						<td>
							{% if programme.Listexercice is not empty %}
								<table class="table">
									<thead>
										<th>Nom Exercice</th>
										<th>Difficulte Exercice</th>
										<th>Evaluation Exercice</th>
										<th>Muscle</th>
									</thead>

									{% for  exercice in programme.getListexercice() %}
										<tbody>
											<td>{{ exercice.getnomexercice() }}</td>
											<td>{{ exercice.getDifficulteExercice() }}</td>
											<td>{{ exercice.getEvaluationexercice() }}</td>
											<td>{{ exercice.getMuscle() }}</td>
										</tbody>
									{% endfor %}

								</table>

							{% else %}
								No Exercices associated with this Programme.
							{% endif %}
						</td>
					</tr>
				</tbody>

				
				<tr>
					<th>Edit/Delete</th>
					<td class="d-flex justify-content-center align-items-center">
						<div><a class="btn flosun-button primary-btn rounded-0 mr-2" href="{{ path('app_programme_editb', {'id': programme.idprogramme}) }}" style="width: 120px;">Update</a></div>
						<div style="margin-left:50px"><a class="btn flosun-button primary-btn rounded-0 ml-2" href="{{ path('app_programme_deleteb', {'id': programme.idprogramme}) }}" style="width: 120px;">Delete</a></div>
					</td>
				</tr>

			</tr>
		</table>

	{% endfor %}


{% endblock %}
