{% extends 'base.html.twig' %}

{% block title %}Exercice{% endblock %}

{% block body %}
    <h1>Exercice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exercice.id }}</td>
            </tr>
            <tr>
                <th>NomExercice</th>
                <td>{{ exercice.nomExercice }}</td>
            </tr>
            <tr>
                <th>IdCoach</th>
                <td>{{ exercice.idCoach }}</td>
            </tr>
            <tr>
                <th>DifficulteExercice</th>
                <td>{{ exercice.DifficulteExercice }}</td>
            </tr>
            <tr>
                <th>EvaluationExercice</th>
                <td>{{ exercice.EvaluationExercice }}</td>
            </tr>
            <tr>
                <th>Muscle</th>
                <td>{{ exercice.Muscle }}</td>
            </tr>
            <tr>
                <th>Demonstration</th>
                <td>{{ exercice.Demonstration }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ exercice.Video }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exercice_index') }}">back to list</a>

    <a href="{{ path('app_exercice_edit', {'id': exercice.id}) }}">edit</a>

    {{ include('exercice/_delete_form.html.twig') }}
{% endblock %}
