{# templates/user/pdf.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>
    <h1>User Information</h1>
    <p>Name: {{ userData['first name'] }}</p>
    <p>Last Name: {{ userData['last name'] }}</p>
    <p>Phone Number: {{ userData['Phone Number'] }}</p>
    <p>Role: {{ userData['Role'] }}</p>
    <p>Email: {{ userData['email'] }}</p>
</body>
</html>

